*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
.header-banner{
    display: flex;
}
.header-p{
    font-family: 'Berkshire Swash', cursive;
    color: #FF5E19;
    font-size: 70px;
}